<h1>Admin::Dashboard#show</h1>

<div class="container">
  <div class="row">
    <div class="col">Total <%= @product_count %> <%= link_to 'Products', [:admin, :products] %></div>
  </div>
  <div class="row">
    <div class="col">Total <%= @category_count %> Categories</div>
  </div>
</div>
